.logo{
  width: 70vw;
}

.vcenter {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

.center {
  display: table;
  margin: 0 auto;
}

.no-scroll {
    overflow:hidden;
}

.splash {
  min-height: 90vh;
}

.bottom-banner{
  min-height: 10vh;
}

.tabs .tab a {
    color: rgba(0, 74, 83, 0.7);
}

.scrollspy .scrollspy a:hover, .scrollspy a.active {
    color: #00bcd4;
}

.tabs .indicator {
    background-color: #00bcd4;
}

footer.page-footer {
    background-color: #00bcd4;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

.parallax-img {
  max-width: 150vw;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

::-webkit-scrollbar {
display: none;
}

#about #skills #projects{
display: block;
}
h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}


h3 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

.topmenu {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
    background: white;
    z-index: 2;
}

.setup{
  width: 100%;
  padding: 0px !important;
}

.column-padding{
  width: 48% !important;
  margin: 1%;
}

.skill-padding{
  margin: 1%;
}

.grid-item{
  margin: 20px;
}

.resume{
  width: 85vw;
}

.download-button {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.table-of-contents li {
  padding: 2px 0;
}

.table-of-contents a {
  display: inline-block;
  font-weight: 300;
  color: #a8a8a8;
  margin-left: 19px;
  padding-left: 2px;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: .4;
  display: inline-block;
}

.table-of-contents a:hover {
  color: #a8a8a8;
  margin-left: 19px;
  padding-left: 2px;
  border-left: 0px;
  border-bottom: 2px solid #00bcd4;
}

.table-of-contents a.active {
  font-weight: 500;
  color: #00bcd4;
  margin-left: 18px;
  padding-left: 2px;
  border-left: 0px;
  border-bottom: 2px solid #00bcd4;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:4vh;
	border-radius:.5vh;
	-moz-border-radius:.5vh;
	-webkit-border-radius:.5vh;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-size:1.2vh;
	color:#ffffff;
	-webkit-border-top-left-radius:.5vh;
	-webkit-border-bottom-left-radius:.5vh;
	-moz-border-radius-topleft:.5vh;
	-moz-border-radius-bottomleft:.5vh;
	border-top-left-radius:.5vh;
	border-bottom-left-radius:.5vh;
}

.skillbar-title span {
	display:block;
	padding:0 20px;
	height:4vh;
	line-height:4vh;
	-webkit-border-top-left-radius:.5vh;
	-webkit-border-bottom-left-radius:.5vh;
	-moz-border-radius-topleft:.5vh;
	-moz-border-radius-bottomleft:.5vh;
	border-top-left-radius:.5vh;
	border-bottom-left-radius:.5vh;
}

.skillbar-bar {
	height:4vh;
	width:0px;
	border-radius:.5vh;
	-moz-border-radius:.5vh;
	-webkit-border-radius:.5vh;
}

.skill-bar-percent {
	position:absolute;
	right:1.5vw;
	top:0;
	font-size:1.2vh;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

.row .col{
  padding: 0px;
}

.card-title{
  z-index: 10;
  color:black;
}
